# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.env/
.env
*.env

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Database files
*.sql